* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
     width: 100%;
    background-image: url("https://images.unsplash.com/photo-1716467891152-1b43a96de578?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFsZSUyMGNhdHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px; 
}

.nav {
    background-color: #0f1111;
    height: 50px;
    padding-left: 50px ;
    padding-top: 10px ;
}

#amazon {
    font-size: 25px;
    color: #ff9900;
}

#Account {
    margin: 200px;
    color: white;
}

#mycart {
    color: white;
}

#contactus {
    padding: 150px;
    color: white;
}

#searchbutton {
    background-color: #f08804;
}

#amazonlink {
    color: white;
    text-decoration: none;
}
/*  */
.container{
    margin-top: 10px;
}
#Categories{
    margin-left: 3px;
    font-size: 25px;
    font-weight: bold;
}
.names{
    padding-left: 160px
}
.qa{ 
    background-color: #0f1111a1;
}
.questions{
    font-weight:700;
    font-style: italic;
    text-transform: uppercase;
    display: block;
    text-align: center;
}
.answers{
    color: antiquewhite;
    text-transform: capitalize;
    display: block;
    text-align: center;
}
/* #bottom{
    text-align: center;
} */